<!DOCTYPE html>
<html ng-app="listaTelefonica">
  <head>
    <meta charset="utf-8">

    <title>Lista Telefonica</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>

    <style>
	    .jumbotron{
	    	width: 600px;
	    	text-align: center;
	    	margin-top: 20px;
	    	margin-left: auto;
	    	margin-right: auto;
	    }

	    .table{
	    	margin-top: 20px;

	    }

	    .form-control{
	    	margin-bottom: 20px;
	    }

      .selecionado{
        background-color: yellow;
      }

      .negrito{
        font-weight: bold;
      }
    </style>

    <script>

      angular.module("listaTelefonica", []);

      angular.module("listaTelefonica").controller("listaTelefonicaController", function ($scope) {
        $scope.app = "Lista Telefonica";

        $scope.contatos = [
        	{nome: "Gustavo", telefone: 99998888, data: new Date()},
        	{nome: "Gustavo", telefone: 99998888, data: new Date()},
        	{nome: "Gustavo", telefone: 99998888, data: new Date()},
        ];

        $scope.operadoras = [
          {nome: "TIM", codigo: 41, categoria: "Celular"},
          {nome: "Claro", codigo: 15, categoria: "Celular"},
          {nome: "Vivo", codigo: 21, categoria: "Fixo"},
          {nome: "OI", codigo: 14, categoria: "Celular"},
        ];

        $scope.adicionarContato = function(contato){
        	$scope.contatos.push(angular.copy(contato));
        	delete $scope.contato;
        };

        $scope.apagarContatos = function(){
          var contatosSelecionados = contatos.filter(function (contato){
            if(contato.selecionado){
              return contato
            };
          });
          console.log(contatosSelecionados);
        };

      });

    </script>
  </head>
  <body ng-controller="listaTelefonicaController">
      <div class="jumbotron">
      	<h3>{{app}}</h3>
      <input class="form-control" type="text" ng-model="busca" placeholder="Pesquisar">
      	<table class="table table-striped">
      		<tr>
            <th>#</th>
      			<th>Nome</th>
      			<th>Telefone</th>
            <th>Operadora</th>
            <th>Data</th>
      		</tr>

      		<tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos | filter:busca">
            <td><input type="checkbox" ng-model="contato.selecionado"></td>
      			<td>{{contato.nome | uppercase}}</td>
      			<td>{{contato.telefone}}</td>
            <td>{{contato.operadora.nome | lowercase}}</td>
            <td>{{contato.data | date:'dd/mm/yyyy/ hh:mm'}}</td>
      		</tr>
      	</table>

      	<hr/>
      	<input class="form-control" type="text" ng-model="contato.nome" placeholder="Nome"></input>
      	<input class="form-control" type="text" ng-model="contato.telefone" placeholder="Telefone"></input>

        <select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome group by operadora.categoria for operadora in operadoras" >
          <option value="">Selecione uma operadora</option>
        </select>

      	<button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="!contato.nome || !contato.telefone">Adicionar Contato</button>
        <button class="btn btn-danger btn-block" ng-click="apagarContato(contato)">Apagar Contato</button>

      </div>
  </body>
</html>
