<!DOCTYPE html>
<html>
    <head>
        <title>AngularJS</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.1/angular.min.js"></script>
    </head>
    <body ng-app>
        <div class="container">
            <div class="well">
                <h1>Ocorrências</h1>
            </div>
            <form name="form">
                <div class="form-group">
                    <label>CEP</label>
                    <input ng-model="cep" type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Bairro</label>
                    <input ng-model="bairro" type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Número de ocorrências</label>
                    <input ng-model="ocorrencias" type="text" class="form-control" />
                </div>
                <button type="submit" class="btn btn-primary">Salvar</button>
            </form>
        </div>
    </body>
</html>
